<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
		<link rel='stylesheet' href='/styles/home.css' />
	</head>
	<body>
		<main class='home'>
			<div class='posts'>
				{{#each blogs}}
					<div class='post'>
						<a class='post__link-info' href='/posts/{{title}}'>
							<p class='post__title'>{{title}}</p>
						</a>
						<p class='post__desc'>{{description}}</p>
						<p class='post__article'>{{article}}</p>
						<a class='post__link-delete' href='/posts/delete/{{title}}'><img
								class='delete_icon'
								src='/icons/delete_icon.png'
								alt='delete_light'
								width='30px'
							/></a>
					</div>
					<hr />
				{{/each}}
			</div>
		</main>
	</body>
</html>